In [1]:
from Univariate import Univariate
#obj=Univariate()

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Automobilecodedata.csv")

In [4]:
dataset

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name,origin
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,chevrolet chevelle malibu,usa
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,buick skylark 320,usa
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,plymouth satellite,usa
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,amc rebel sst,usa
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,ford torino,usa
...,...,...,...,...,...,...,...,...,...
393,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,ford mustang gl,usa
394,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,vw pickup,europe
395,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,dodge rampage,usa
396,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,ford ranger,usa
397,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,chevy s-10,usa

In [5]:
quan,qual=Univariate.quanQual(dataset)

In [6]:
quan

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year']

In [7]:
qual

['name', 'origin']